// Colors
$invalid: #f66;

$brand-primary: #59bcff;
$brand-primary-contrast: #fff;
$brand-primary-hover: lighten($brand-primary, 10%);
$brand-primary-light: #cbd9e6;
$brand-primary-lighter: lighten($brand-primary, 55%);
$brand-primary-dark: darken($brand-primary, 10%);
$brand-primary-darker: #223e6e;

$background-lighter: #eff5fc;
$background-darker: #2A3B44;

$brand-success: #36b832;

$paragraph: #333;
$paragraph-dark: darken($paragraph, 25%);
$paragraph-light: lighten($paragraph, 25%);
$paragraph-lighter: lighten($paragraph, 50%);
$paragraph-muted: lighten($paragraph, 75%);
