@import 'variables';

.gridStyle {
  border: none;
  height: 615px;
}

.ui-grid-row {

  height:auto !important;
  overflow: hidden;

  &:nth-child(odd) .ui-grid-cell {
    background: $brand-primary-contrast;
  }

  &:nth-child(even) .ui-grid-cell {
    background: $brand-primary-contrast;
  }
}

.ui-grid-cell{
  border-right:none;
  border-bottom: 1px solid $paragraph-muted;
  padding: 5px 0;
  height: auto !important;

  span{
    display:inline-block;
  }
}

.ui-grid-cell-focus{
  background:none;
}

.ui-grid-clickable-row{
  color:inherit;

  .ui-grid-cell{
    transition:all linear 100ms;
  }
  &:hover .ui-grid-cell{
    background-color: rgba(0,166,255,0.1) !important;
  }
}

.ui-grid-cell-contents {
  &.custom-background {
    margin-top: -5px;
    padding-top: 10px;
    margin-bottom: -5px;
    padding-bottom: 10px;
  }

  &:focus {
    background-color: transparent;
  }
}

.ui-grid-top-panel-background {
  background: $brand-primary-lighter;
}

.ui-grid-top-panel {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background: #FEFEFE;
  background-clip: padding-box;
}

.ui-grid-header{
  border-bottom:none;
}

.ui-grid-header-cell {
  position: relative;
  float: left;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border-right: none;
  border-bottom: none;
  user-select: none;
  width: 0;
}

.ui-grid-filter-container{
  padding:0;
  margin-top:-10px;

  &:after{
    content: "\f040";
    position: absolute;
    color: #ccc;
    z-index: 1;
    right: 3px;
    font-family: FontAwesome;
    font-size: 0.6em;
    line-height: 3em;
    top: 0;
  }
  &:hover:after{
    color:#4497de;
  }
}
input[type="text"].ui-grid-filter-input{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:solid 1px $paragraph-muted;
  padding:3px 6px;
  background:transparent;
  transition:all linear 200ms;

  &:hover,
  &:focus{
    border:inherit;
    border-bottom:solid 1px #4497de;
  }
}
.ui-grid-native-scrollbar {
  position: absolute;
  overflow: scroll;
  overflow-x: auto;

  &.vertical {
    top: 0;
    right: 0;
    height: 100%;
    overflow-x: hidden;
    width: 17px;
  }
  &.horizontal {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: hidden;
    height: 17px;
  }
}
.ui-grid-status{
  position: absolute;
  bottom: 34px;
  right: 0;
  padding: 2px 10px;
  background: #EDEDE3;
  border-top-left-radius: 4px;
  font-size: 1.2rem;
  text-align: right;
}
.ui-grid-pager-control{
  button {
    height: 25px;
    min-width: 26px;
    background: $brand-primary-contrast;
    border: none;
    line-height: 1em;
    cursor: pointer;
    padding-bottom: 12px;

    &[disabled] div{
      border-left-color: #ccc;
      border-right-color: #ccc;
    }
  }
  input {
    border: none;
    border-bottom: solid 2px $paragraph-muted;
    padding: 2px 6px;
    margin: 0;
    transition:all linear 200ms;

    &:hover,
    &:focus{
      border:inherit;
      border-bottom: solid 2px #4497de;
    }
  }
}
.ngClickableCell{
  color: #223e6e !important;
  text-align: center;
  cursor: pointer;
  font-weight: bold;

  &:hover{
    background-color: rgba(0,166,255,0.2) !important;
  }
}
.ui-grid-viewport{
  overflow: auto !important;
}
.gridCenterHeader{
  text-align: center;
}
.ui-grid-focuser:focus {
  border-color: inherit;
  outline: 0;
  box-shadow: none;
}

.ui-grid-menu-button {
  border: none;
  background: initial;
  border-radius: 50%;
  padding: 2px 0 2px 4px;
  height: auto;
  transition: background .12s ease-out;

  &:hover{
    background: transparentize($brand-primary, 0.5);
    color: $brand-primary-contrast;
  }

  .ui-grid-icon-container{
    margin: 0;
  }

  .ui-grid-menu {
    .ui-grid-menu-mid {
      overflow: auto;
      box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
      border: solid 1px #b7b7b7;
    }
    .ui-grid-menu-inner {
      border: none;
      background: #fff;
      box-shadow: none;

      ul li {
        padding: 0;
        margin: 0;
        display: block;
      }

      ul li button {
        transition: background .12s ease-out,border .12s ease-out,color .12s ease-out,opacity .12s ease-out;

        &:hover,
        &:focus {
          box-shadow: none;
          background: $background-lighter;
        }
      }
    }
  }
}
